<shared-navbar />

<shared-search (newPokemonList)="this.searchQuery.set($event)" />

@if (searchQuery().trim() && hasError()) {
  <shared-alert [searchQuery]="searchQuery()" />
}

@if (!hasError()) {
  <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-4 mt-6 ml-20 mr-20">
    @if (pokemonName()) {
      <div class="col-span-1 row-span-2">
        <pages-pokemon-list [queryName]="pokemonName()" />
      </div>
    }

    @for (pokemon of pokemonList(); track pokemon.name) {
      <div class="avatar flex flex-col items-center rounded-2xl p-4 text-center bg-gray-700 cursor-pointer" (click)="pokemonName.set(pokemon.name)">
        <div class="w-32 h-32 relative flex items-center justify-center">
          @if (loadingImages.has(pokemon.name)) {
          <span
            class="loading loading-ring loading-xl text-accent absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2"></span>
          }
          <img [src]="pokemon.image" [alt]="pokemon.name" class="max-h-full max-w-full object-contain"
            (load)="this.loadingImages.delete(pokemon.name)" />
        </div>
        <p class="text-accent m-2 font-montserrat hover:text-secondary">{{ pokemon.name | titlecase }}</p>
      </div>
    }
  </div>

  @if (pokemonList().length === 1) {
    <shared-show-all-pokemon [style]="'text-left ml-20 mt-5'" />
  }
}

<div class="flex justify-center mt-10 mb-5">
  @if (!pokemonList()) {
    <span class="loading loading-ring loading-xl text-accent"></span>
    <p class="text-accent font-montserrat text-2xl">Loading...</p>
  }

  @else if (pokemonList().length > 1) {
    <shared-pagination [currentPage]="currentPage()" (newCurrentPage)="this.currentPage.set($event)" />
  }
</div>
